<h2>Name</h2>
<p>Peitian</p>

<img id = "picture" src = "/assets/pic.jpg" />

<p id ="year">I'm a junior at UC Berkeley.</p>
<h2>Fun fact</h2>
<p id = "fact">I speak fluent German.</p>
<p id = "exciting">I'm super excited to learn about the magic of Ruby on Rails in this class.</p>